﻿@{}

<div class="main-body" ng-controller="MainController" id="main-controller" ng-cloak>
    <div ng-show="authpanel">
        <div id="sidenav" class="sidenav open-menu">
            <div>
                <img class="profile-img" ng-src="{{profile_img}}" />
                <div class="profile-info-section">
                    <div>{{user_name}}</div>
                    <div class="email-info">{{user_email}}</div>
                </div>
            </div>
            <div class="left-menu">
                <a href="/">Home</a>
                <a href="/add-event/0">Add New</a>
                <a href="#" ng-click="Logout()">Logout</a>
            </div>
        </div>
    </div>
    <div id="main">
        <div class="top-bar" ng-show="authpanel"><span class="left-nave-toggle-btn open-menu head-part">&#9776;</span>&nbsp;<span class="head-part">Event Management</span></div>
        <div class="main-view" ng-view></div>
    </div>
</div>