﻿.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #17a2b8;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20px;
    transition: ease-in-out .5s;
}

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 20px;
        color: #ffffff;
        display: block;
        transition: 0.3s;
    }

        .sidenav a:hover {
            color: #f1f1f1;
        }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

.head-part {
    font-size: 30px;
    cursor: pointer
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

.img-footer {
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
}

.register-login-panel {
    margin: 0 auto;
    margin-top: 2%;
    max-width: 400px;
    border: 1px solid #eee;
    padding: 10px;
    background: #fbfbfb;
    border-radius: 5px;
}

.panel-header {
    text-align: center;
    font-size: 30px;
}

.event-panel-header {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}

.btn-back {
    position: absolute;
}

.panel-bottom {
    text-align: center;
    margin-top: 10px;
}

.help-block {
    color: red;
}

.required:after {
    content: '*';
    color: red;
    padding-left: 5px;
}

.login-error-msg {
    text-align: center;
    background: #ffe2e2;
    padding: 10px;
    color: red;
    margin: 10px 0px;
    border-radius: 5px;
}

.loadding-image {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: -25px;
}

.reg-img {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    margin-top: 20px;
    display: block;
    border: 1px solid #eee;
    border-radius: 50%;
    padding: 5px;
    background: #fff;
}

.profile-img {
    width: 100px;
    height: 100px;
    display: inline-flex;
    border: 1px solid #eee;
    border-radius: 50%;
    padding: 5px;
    background: #fff;
    margin-left: 10px;
}

.profile-info-section {
    display: inline-block;
    color: #ffffff;
    font-size: 18px;
    padding: 10px;
    margin-top: 9px;
    position: absolute;
}

.email-info {
    font-size: 14px;
}

.left-menu {
    margin-top: 20px;
}

.btn-add-img {
    position: absolute;
    margin-top: -100px;
    margin-left: 210px;
    background: #00BCD4;
    color: #ffffff;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
}

.action-btns {
    text-align: right;
    display: inline-block;
    right: 50px;
    position: absolute;
    margin: -18px;
}

.top-bar {
    background: #17a2b8;
    padding: 10px;
    color: #fff;
    border-radius: 5px;
}

.event-date {
    background: #d8d8d8;
    padding: 10px;
    margin: 10px 0px;
    border-radius: 5px;
}

.event-panel {
    background: #f7f7f7;
    border: 1px solid #eee;
    padding: 10px;
    margin: 10px 0px;
    border-radius: 5px;
    transition: ease-in-out 0.3s;
}

    .event-panel:hover {
        background: #c1f3f9;
    }

.event-add-panel {
    background: #f7f7f7;
    border: 1px solid #eee;
    padding: 10px;
    margin: 10px 0px;
    border-radius: 5px;
}

.event-title {
    font-size: 20px;
}

.event-info {
    display: inline-block;
    margin-right: 20px;
}

.view-event {
    background: #eee;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #dadada;
    border-radius: 5px;
}

.Red {
    border-left: 5px solid red;
}

.Blue {
    border-left: 5px solid blue;
}

.Green {
    border-left: 5px solid green;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}
