﻿<!DOCTYPE html>
<html class="app" ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title id="pageTitle" data-i18n="app.{{ngMeta.title}}"></title>
    <base id="BaseUrl" data-baseurl="@Context.Request.Url.GetLeftPart(UriPartial.Authority)@Url.Content("~/")" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/routing")
</head>
<body>

    @RenderBody()

    @Scripts.Render("~/bundles/js")
    @Scripts.Render("~/bundles/contoller")
    @RenderSection("scripts", required: false)
</body>
</html>
