﻿<div ng-repeat="(key, val) in events.groupedData">
    <div class="event-date">{{key}}</div>
    <div ng-repeat="e in val">
        <div class="event-panel {{e.Label}}">
            <div class="event-title">{{e.Title}}</div>
            <div class="event-info"><i class="fa fa-clock-o"></i> {{e.FromTime}}</div>
            <div class="event-info"><i class="fa fa-globe"></i> {{e.Location}}</div>
            <div class="action-btns">
                <span ng-click="viewEvent(e.EventId)" class="btn btn-primary btn-sm"><i class="fa fa-eye"></i></span>
                <a href="/update-event/{{e.EventId}}" class="btn btn-info btn-sm"><i class="fa fa-pencil"></i></a>
                <span ng-click="deleteEvent(e.EventId)" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></span>
            </div>
        </div>
    </div>
    <hr />
</div>

<!-- The Modal For Event View -->
<div class="modal" id="eventViewModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Event</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="view-event">
                    <b>Title: </b>{{title}}
                </div>
                <div class="view-event">
                    <b>Date: </b>{{date}}
                </div>
                <div class="view-event">
                    <b>Location: </b>{{location}}
                </div>
                <div class="view-event">
                    <b>From: </b>{{fromTime}} - <b>To: </b>{{toTime}}
                </div>
                <div class="view-event">
                    <b>Detail: </b>{{description}}
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>